# Auto detect text files and perform LF normalization
* text=auto eol=crlf

# Force LF for all shell scripts
*.sh text eol=lf

# Force LF for Deno/Node scripts
*.ts text eol=lf
*.js text eol=lf

# Binary files
*.png binary
*.jpg binary
*.dds binary
*.tga binary
*.zip binary
